@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #b7a4e2;
    --color-secundary: #0c2e44;
    --color-tertiary: #0785a5;
    --radius: 50px;
    --circle: 50px;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

body {
    height: 100vh;
    text-align: center;
    place-content: center;
    max-width: 1440px;
    margin: auto;
    font-size: 1rem;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

a, h1, h2{
    font-family: "Nerko One", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: var(--color-secundary);
    font-size: 20px;
}

h1 {
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-secundary);
    margin-bottom: 10px;
}

p{
    font-family: "roboto", sans-serif;
}

.button, p, a{
    padding: 0.8rem;
}

.button {
    text-align: center;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 300;
    border: 0px solid;
    border: 2px solid var(--color-secundary);
    border-radius: var(--radius);

    &:hover {
        border: 2px solid var(--color-tertiary);
     
    }
}

.card, .card2 {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;

    & img {
        max-width: 100px;
        border-radius: var(--circle);
    }
}

.card2{
    flex-direction: row;
    a {
        font-size: 1.5rem;
        &:hover{
            color: var(--color-tertiary);
        }
    }
}

.my08 {
    margin-top: 08px;
    margin-bottom: 08px;
}